.actionButton {
}
.inputContainer {
  margin-bottom: 6px;
}
.inputIcon {
  padding: 0 10px 0 12px;
}
.advancedOptionsButton {
  justify-content: 'flex-end';
  margin: 12px 0 0 4px;
}
.advancedOptionsText {
}
.advanced-options {
  margin-top: 6;
}
