@import '@scss/styleguide';

.broadcasterStatusPanelIndicatorContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 0;
}

.broadcasterStatusPanelIndicatorContainerSmall {
  height: 44px;
  width: 44px;
  padding: 0px;
  background-color: gray3();
  border-radius: 4px;

  &:hover {
    border-color: gray8(0.6);
    background-color: gray2(0.72);
  }
}

.clickable {
  cursor: pointer;
  pointer-events: inherit;
}

.textContainer {
  display: flex;
  align-items: center;
}

.statusIndicator {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.smallStatusIndicator {
  margin: 0px;
}

.text {
  font-size: 15px;
  font-weight: 500;
  color: $labelSecondary;
}

.hovered {
  color: $white;
  text-decoration: underline;
  cursor: pointer;
}
