@import '@scss/styleguide';

.broadcasterStatusPanelIndicatorContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 24px;
}

.clickable {
  cursor: pointer;
  pointer-events: inherit;
}

.textContainer {
  display: flex;
  width: fit-content;
}

.statusIndicator {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

.text {
  padding-right: 8px;
  font-size: 16px;
  font-weight: 500;
  color: $labelSecondary;
}

.hovered {
  color: $white;
  text-decoration: underline;
  cursor: pointer;
}
