@import '@scss/styleguide';

.slippageLabel {
  @include label;
}

.inputWrapper {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  position: relative;
}

.slippageDisclaimer {
  @include paragraphSmall;
  color: $labelSecondary;
  padding: 16px 0;
}

.errorText {
  @include label;
  color: error();
  position: absolute;
  bottom: -18px;
}

.accessoryViewButton {
  min-width: 100px;
}

.percentText {
  @include paragraph;
  color: $labelSecondary;
}
