@import '@scss/styleguide';

.sectionHeader {
  margin: 32px 0 0 8px;
}

.sliderContainer {
  margin: 24px 8px 8px 8px;
  padding: 0 8px;
}

.slippageDisclaimer {
  @include paragraphSmall;
  color: $labelSecondary;
  padding: 16px 8px;
}
