.blurClass {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.inputContainer {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 5px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 12px;
  color: white;
  background-color: rgba(28, 28, 30, 0.5);
  border-radius: 6px;
  border: 1px solid rgba(92, 92, 92, 1);
}

.input {
  background-color: rgba(28, 28, 30, 0.5);
  border: 1px solid rgba(92, 92, 92, 1);
  border-radius: 6px;
  color: white;
  padding: 8px;
  font-size: 16px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
