@import '@scss/styleguide';

.appPasswordScreenContainer {
  .inputForm {
    margin-top: 28px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.swirl {
  margin-top: 24px;
  height: 24%;
  width: 96%;
}

.titleText {
  text-align: center;
  margin: 5% -0.5rem 0 0;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.headerText {
  width: 100%;
  text-align: center;
  margin: 36px 0 16px 0;
}

.inputContainerOverride {
  border-color: gray7();
  background-color: gray();
  padding: 5px 0 5px 16px;
  flex-grow: none;
  max-width: 320px;
}

.inputOverride {
  font-size: 18px;
}

.buttonContainer {
  display: none;
}

.errorTextContainer {
  margin-top: 32px;
}

.errorText {
  width: 100%;
  text-align: center;
  color: error();
  font-size: 16px;
}

.footer {
  width: 100%;
  text-align: center;
  bottom: 64px;
  position: fixed;
}

.footerText {
  font-size: 16px;
  padding: 0 64px;
}

.submitButton {
  width: 100px;
  height: 40px;
  justify-content: center;
  margin-left: 15px;
}

.errorShowMore {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
