@import '@scss/styleguide';

.passwordModalForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.currentPasswordInput {
  margin-bottom: 11px;
}

.descriptionContainer {
  margin: 24px 0 28px 0;
  padding: 0 8px;
}

.description {
  margin-top: 12px;
  font-size: 16px;
}

.actionButtonContainer {
  display: flex;
  justify-content: center;
}

.actionButton {
  margin-top: 16px;
  border: none;
  box-shadow: none;
  background-color: gray5();
}

.statusTextContainer {
  padding-left: 8px;
  margin: 20px 0 24px 0;
  min-height: 20px;
}

.statusText {
  @include label;
  font-size: 14px;
  text-align: left;
}

.statusTextError {
  color: error();
}

.inputIcon {
  padding: 0 10px 0 12px;
}

.footerContainer {
  margin: 16px 0 12px 0;
  padding: 0 8px;
}

.footer {
  font-size: 14px;
  color: $textSecondary;
}

.submitButton {
  justify-content: center;
  margin-top: 24px;
  width: 100%;
}

.errorShowMore {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
