@import '@scss/styleguide';

.rowWrapper {
  margin-top: 8px;
  background-color: gray6();
  border-radius: 4px;
  border: 1px solid transparent;

  &:not(.disabledWrapper):hover {
    border: 1px solid $white;
    background-color: gray6(0.8);
  }

  &.defaultBorder {
    border: 1px solid gray5();
  }

  &.clickable {
    cursor: pointer;
  }

  &.disabledWrapper {
    opacity: 0.5;
  }

  &.selectedWrapper {
    background-color: gray6(0.6);
    border: 1px solid txGreen();
  }

  &.errorWrapper {
    border: 1px solid error();
  }
}
