@import '@scss/styleguide';

.erc20InfoContainer {
  flex: 1;
  padding: 32px;
}

.topButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.optionsButton {
  padding-right: 4px;
  cursor: pointer;
}

.topInfoCallout {
  margin-bottom: 8px;
}

.transactionsHeaderText {
  @include label;
  text-transform: uppercase;
  color: text();
  margin: 0 0 12px 4px;
}

.transactionsWrapper {
  margin: 42px 0 24px 0;
}

.pendingBalance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  @include labelSmall;
  color: $labelSecondary;
  width: 100%;

  &:hover {
    color: text();
  }
}
