.iconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 12px;
}

.tokenIcon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.titleStyles {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
