@import '@scss/styleguide';

.wrapper {
  flex: 1;
  background-color: gray5();
}

.footer {
  width: 100%;
}

.footerContent {
  padding: 24px 16px 16px 16px;
  justify-content: center;
}

.footerText {
  @include caption;
  color: $white;
  text-align: center;
}

.footerTextButtonWrapper {
  margin-top: 4;
  display: flex;
  justify-content: center;
}

.privatePublicButton {
  margin-left: 12px;
  height: 44px;
}
