@import '@scss/styleguide';

.container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 76%;
}

.button {
  margin: 0 12px;
}

.fullLengthButtonStyle {
  margin: 0 12px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
